<div id="<%= dom_id user %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Admin:</strong>
    <%= user.admin %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">ID:</strong>
    <%= user.id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", [:admin, user], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this user', edit_admin_user_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
