<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-center">New user</h1>

  <%= render "form", user: @user %>
  <div class="mx-auto text-center m-10">
    <%= link_to 'Back to users', admin_users_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
