<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-center">Editing product</h1>
  <%= render "form", product: @product %>
  <div class="mx-auto text-center m-10">
  <%= link_to "Show this product", @product, class: "ml-2 rounded-lg content-center py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <div class="inline-block ml-2">
      <%= button_to 'Destroy this product', product_path(@product), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-red-100 font-medium" %>
    </div>
  <%= link_to "Back to products", products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
