<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Products</h1>
    <%= link_to 'New product', new_product_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="flex flex-col">
  <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">#</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Name</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Model</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Manufacturer</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">price</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">ASIN</th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">Actions</th>
            </tr>
          </thead>
          <tbody>            
            <% @products.each do |product| %>
                <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">1</td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= link_to(product.name, product)%></td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= product.model %></td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= product.manufacturer %></td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= product.price %></td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap"><%= product.asin %></td>
              <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              <%= link_to(edit_product_path(product)) do %>
              <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-blue-400" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
              </svg>              
              <% end %>
              </td>
            </tr>
            <% end %>            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>
