<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl text-center">New product</h1>

  <%= render "form", product: @product %>
<div class="mx-auto text-center m-10">
  <%= link_to 'Back to products', products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
</div>
